<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <ion-item no-lines>
                <ion-checkbox [(ngModel)]="chkYear"></ion-checkbox>
                <ion-label>Jahr</ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-lines>
                <ion-datetime displayFormat="YYYY" [(ngModel)]="year"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item no-lines>
                <ion-checkbox [(ngModel)]="chkMonth"></ion-checkbox>
                <ion-label>Monat</ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-lines>
                <ion-datetime displayFormat="MM" [(ngModel)]="month"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item no-lines>
                <ion-checkbox [(ngModel)]="chkDay"></ion-checkbox>
                <ion-label>Tag</ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-lines>
                <ion-datetime displayFormat="DD" [(ngModel)]="day"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <!--<ion-checkbox [(ngModel)]="chkDay"></ion-checkbox>-->
            <ion-label>Kategorie:
                <ion-icon class="clickable" (click)="clearFilter()" name="ios-funnel"></ion-icon>
            </ion-label>
            <ion-input placeholder="Kategorie auswählen" [(ngModel)]="Kategorie" (focus)="selectCategorie($event)" type="text" (input)="selectCategorie($event)"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item no-lines *ngFor="let c of categoriesFiltered">
                    <ion-label (click)="setCategorieFromHtml(c)">
                        <ion-icon class="test" ios="logo-apple" md="logo-android"></ion-icon>{{c}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <!--
    <ion-item>
        <ion-label floating>Kategorie</ion-label>
        <ion-input [(ngModel)]="Kategorie" (focus)="selectCategorie($event)" type="text" (input)="selectCategorie($event)"></ion-input>
    </ion-item>
-->

    <ion-item>
        <ion-label floating>Unterkategorie</ion-label>
        <ion-input [(ngModel)]="Unterkategorie" type="text" (focus)="selectSubCategorie($event)" (input)="selectSubCategorie($event)"></ion-input>
    </ion-item>
    <ion-list>
        <ion-item *ngFor="let c of subCategoriesFiltered">
            <ion-label (click)="setSubCategorieFromHtml(c)">{{c}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-item no-lines>
        <ion-label class="clickable" (click)="executeFilter()">Filter anwenden</ion-label>
    </ion-item>

    <!--
    <ion-label>Filterbereich:
        <ion-icon class="icon" (click)="testK()" name="ios-add-circle"></ion-icon>
    </ion-label>
    <ion-item>
        <ion-label>Monat</ion-label>
        <ion-select (ionChange)="testOnchange()" okText="Okay1" cancelText="Dismiss" [(ngModel)]="monat" multiple="false">
            <ion-option value="0">Alle</ion-option>
            <ion-option value="1">Januar</ion-option>
            <ion-option value="2">Februar</ion-option>
            <ion-option value="3">März</ion-option>
            <ion-option value="4">April</ion-option>
            <ion-option value="5">Mai</ion-option>
            <ion-option value="6">Juni</ion-option>
            <ion-option value="7">Juli</ion-option>
            <ion-option value="8">August</ion-option>
            <ion-option value="9">September</ion-option>
            <ion-option value="10">Oktober</ion-option>
            <ion-option value="11">November</ion-option>
            <ion-option value="12">Dezember</ion-option>
        </ion-select>
    </ion-item>
    <ion-label>Ausgaben: {{alleAusgaben}}</ion-label>
    -->
</ion-content>