page-home {

    .test {
        color: green;
    }


   .budgetColor_orange{
            color: orange;
    }
    .budgetColor_red{
            color: red;
            font-weight: bold;
    }
    .budgetColor_black{
            color: black;
    }

}
